body, html {
	/* Force vertical scroll bar, prevent shifting content, works best on Windows */
	min-height: 101%;
}

a {
	@apply transition duration-300;
}

[class*='transition'] {
	@apply duration-300;
}

a.btn-standard {
	@apply bg-tertiary;
	@apply text-white;
	@apply p-2;
	@apply rounded-lg;
}

.hero {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hero-logo {
	background-image: url("../images/logo-round.svg");
	background-repeat: no-repeat;
	background-position: center;
	width: 126px;
	height: 126px;
}

.hero-left, .hero-right {
	height: 66px;
	flex: 1;
	@apply bg-secondary;
	
}

.hero-left {
	border-radius: 33px 0px 0px 33px;
}

.hero-right {
	border-radius: 0px 33px 33px 0px;
}

/* purgecss ignore */
[data-sal|='fade'] {
	transition: all ease 1500ms !important;
	transform: translateY(20px);
}

/* purgecss ignore */
[data-sal|='fade'].sal-animate,
	body.sal-disabled [data-sal|='fade'] {
	transform: translateY(0px);
}

/* purgecss ignore */
[data-sal|='fade-slow'] {
	transition: all ease 3000ms !important;
	transform: translateY(20px);
}

/* purgecss ignore */
[data-sal|='fade-slow'].sal-animate,
	body.sal-disabled [data-sal|='fade-slow'] {
	transform: translateY(0px);
}



.sticky-ingredients-btn {
	bottom: 20px;
	@apply sticky ;
}


@screen md {
	.sticky-ingredients-btn { @apply hidden; }
}