.period::after {
    content:".";
    @apply pl-1;
}

.tag-link.is-active {
    @apply border-white;
    @apply border-2;
    @apply rounded-lg;
}

.step-pic {
    width: 100%;
    @screen lg {
        width: 32rem;
    }
}

.ingredients li {
    @apply pb-4;
    @apply text-white;
    @apply font-bold;
}

.ingredients li span {
    @apply text-gray-200;
    @apply block;
    @apply font-normal;
}

.image-shadow {
    top: 30px;
    left: 30px;
}

.embla {
    overflow: hidden;
}
.embla__container {
    display: flex;
}
.embla__slide {
    position: relative;
    flex: 0 0 100%;
}